In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('PTT.csv')
# df.head()

,Date,Symbol,Open,High,Low,Last,ChangePercent,Volumn,Money,Net5D,...,Net34D,SMA5,SMA12,SMA26,MACD,MACD5,Vol5,RSI,RSI5,Money5
0,1/5/2015,PTT,330.0,331.0,313.0,315.0,-2.78,6685498,2143630000,5569961000,...,8.734902e+10,315.0,NaN,NaN,NaN,NaN,6685498.0,NaN,NaN,2.143630e+09
1,1/6/2015,PTT,310.0,323.0,306.0,323.0,2.54,8194710,2563561000,7283937000,...,8.880277e+10,319.0,NaN,NaN,NaN,NaN,7440104.0,NaN,NaN,2.353596e+09
2,1/7/2015,PTT,322.0,335.0,319.0,334.0,3.41,6377138,2091634000,8475487000,...,8.858828e+10,324.0,NaN,NaN,NaN,NaN,7085782.0,NaN,NaN,2.266275e+09
3,1/8/2015,PTT,346.0,349.0,340.0,340.0,1.80,10392170,3588631000,11299851000,...,9.033822e+10,328.0,NaN,NaN,NaN,NaN,7912379.0,NaN,NaN,2.596864e+09
4,1/9/2015,PTT,342.0,342.0,335.0,338.0,-0.59,6394847,2166117000,12553573000,...,9.099437e+10,330.0,NaN,NaN,NaN,NaN,7608872.6,NaN,NaN,2.510715e+09

In [2]:
# if Money > Money5 :
#     if RSI < 30 :
#         tmpR = 1
#     elif RSI > 70 :
#         tmpR = -1 
    
#     if MACD > MACD5D :
#         tmpM = 1
#     elif MACD < MACD5D :
#         tmpM = -1
    
#     if tmpR + tmpM == 2 :
#         Status = 2 buy
#     elif tmpR + tmpM == -2 :
#         Status = 1 sell 
#     else :
#         Status = 0 hold
# else :
#     Status = 0
# rule
def label_options(df):
    tmpR = 0
    tmpM = 0
    for i in range(0,len(df)):
        if df.loc[i,'Money'] > df.loc[i,'Money5'] :
            if df.loc[i,'RSI'] < 30 :
                tmpR = 1
            elif df.loc[i,'RSI'] > 70 :
                tmpR = -1
                
            if df.loc[i,'MACD'] > df.loc[i,'MACD5'] :
                tmpM = 1
            elif df.loc[i,'MACD'] < df.loc[i,'MACD5'] :
                tmpM = -1
                
            if tmpR + tmpM == 2 :
                df.loc[i,'Status'] = 2
            elif tmpR + tmpM == -2 :
                df.loc[i,'Status'] = 1 
            else :
                df.loc[i,'Status'] = 0
        else :
            df.loc[i,'Status'] = 0
            
# label_options(df)

In [4]:
sc = pd.read_csv('Selected-Company.csv')
for i in range(len(sc)):
#     print(sc.loc[i,'Symbol'])
    try:
        df = pd.read_csv('../ML-for-stock-port-management/Individual-Stock/' + sc.loc[i,'Symbol'] + '.csv')
        label_options(df)
        path = r'../ML-for-stock-port-management/Individual-Stock/' + sc.loc[i,'Symbol'] + '.csv'
        df.to_csv(path, index = None, header=True)
    except:
        print(sc.loc[i,'Symbol'])

CGS
JCK-W4
PRIME-W1
PRIME-W2

In [10]:
df = pd.read_csv('Selected-Company.csv')
df

        Symbol
0           2S
1        2S-W1
2          7UP
3       7UP-W2
4            A
5          AAV
6          ABC
7       ABC-W1
8       ABC-W2
9        ABICO
10         ABM
11       ABPIF
12        ACAP
13     ACAP-W1
14     ACAP-W2
15         ACC
16      ACC-W1
17         ACD
18      ACD-W2
19      ACD-W4
20         ACG
21         ADB
22      ADVANC
23         AEC
24      AEC-W2
25      AEC-W4
26      AEONTS
27          AF
28         AFC
29         AGE
...        ...
1163    VTE-W1
1164    VTE-W2
1165    WACOAL
1166      WAVE
1167   WAVE-W1
1168        WG
1169       WHA
1170     WHABT
1171     WHAPF
1172     WHART
1173     WHAUP
1174    WHA-W1
1175    WHA-W2
1176      WICE
1177      WIIK
1178   WIIK-W1
1179   WIIK-W2
1180       WIN
1181    WINNER
1182      WORK
1183   WORK-W1
1184        WP
1185       WPH
1186        XO
1187     XO-W1
1188     YUASA
1189       ZEN
1190      ZIGA
1191     ZMICO
1192  ZMICO-W4

[1193 rows x 1 columns]

In [8]:
df.head()

,Date,Symbol,Open,High,Low,Last,ChangePercent,Volumn,Money,Net5D,...,SMA5,SMA12,SMA26,MACD,MACD5,Vol5,RSI,RSI5,Money5,Status
0,1/5/2015,PTT,330.0,331.0,313.0,315.0,-2.78,6685498,2143630000,5569961000,...,315.0,NaN,NaN,NaN,NaN,6685498.0,NaN,NaN,2.143630e+09,0.0
1,1/6/2015,PTT,310.0,323.0,306.0,323.0,2.54,8194710,2563561000,7283937000,...,319.0,NaN,NaN,NaN,NaN,7440104.0,NaN,NaN,2.353596e+09,0.0
2,1/7/2015,PTT,322.0,335.0,319.0,334.0,3.41,6377138,2091634000,8475487000,...,324.0,NaN,NaN,NaN,NaN,7085782.0,NaN,NaN,2.266275e+09,0.0
3,1/8/2015,PTT,346.0,349.0,340.0,340.0,1.80,10392170,3588631000,11299851000,...,328.0,NaN,NaN,NaN,NaN,7912379.0,NaN,NaN,2.596864e+09,0.0
4,1/9/2015,PTT,342.0,342.0,335.0,338.0,-0.59,6394847,2166117000,12553573000,...,330.0,NaN,NaN,NaN,NaN,7608872.6,NaN,NaN,2.510715e+09,0.0

In [6]:
# update data to csv
df.to_csv(r'../ML-for-stock-port-management/PTT.csv', index = None, header=True)

In [7]:
df = pd.read_csv('PTT.csv')
df

,Date,Symbol,Open,High,Low,Last,ChangePercent,Volumn,Money,Net5D,...,SMA5,SMA12,SMA26,MACD,MACD5,Vol5,RSI,RSI5,Money5,Status
0,1/5/2015,PTT,330.00,331.00,313.00,315.00,-2.78,6685498,2143630000,5569961000,...,315.00,NaN,NaN,NaN,NaN,6685498.0,NaN,NaN,2.143630e+09,0.0
1,1/6/2015,PTT,310.00,323.00,306.00,323.00,2.54,8194710,2563561000,7283937000,...,319.00,NaN,NaN,NaN,NaN,7440104.0,NaN,NaN,2.353596e+09,0.0
2,1/7/2015,PTT,322.00,335.00,319.00,334.00,3.41,6377138,2091634000,8475487000,...,324.00,NaN,NaN,NaN,NaN,7085782.0,NaN,NaN,2.266275e+09,0.0
3,1/8/2015,PTT,346.00,349.00,340.00,340.00,1.80,10392170,3588631000,11299851000,...,328.00,NaN,NaN,NaN,NaN,7912379.0,NaN,NaN,2.596864e+09,0.0
4,1/9/2015,PTT,342.00,342.00,335.00,338.00,-0.59,6394847,2166117000,12553573000,...,330.00,NaN,NaN,NaN,NaN,7608872.6,NaN,NaN,2.510715e+09,0.0
5,1/12/2015,PTT,335.00,337.00,333.00,333.00,-1.48,4349420,1457436000,11867379000,...,333.60,NaN,NaN,NaN,NaN,7141657.0,NaN,NaN,2.373476e+09,0.0
6,1/13/2015,PTT,327.00,330.00,325.00,328.00,-1.50,4941804,1620707000,10924525000,...,334.60,NaN,NaN,NaN,NaN,6491075.8,NaN,NaN,2.184905e+09,0.0
7,1/14/2015,PTT,327.00,333.00,321.00,322.00,-1.83,6666386,2170981000,11003872000,...,332.20,NaN,NaN,NaN,NaN,6548925.4,NaN,NaN,2.200774e+09,0.0
8,1/15/2015,PTT,326.00,327.00,315.00,319.00,-0.93,9346062,3009782000,10425023000,...,328.00,NaN,NaN,NaN,NaN,6339703.8,NaN,NaN,2.085005e+09,0.0
9,1/16/2015,PTT,317.00,325.00,317.00,322.00,0.94,4547884,1460373000,9719279000,...,324.80,NaN,NaN,NaN,NaN,5970311.2,NaN,NaN,1.943856e+09,0.0
10,1/19/2015,PTT,325.00,334.00,325.00,333.00,3.42,5228216,1724365000,9986208000,...,324.80,NaN,NaN,NaN,NaN,6146070.4,NaN,NaN,1.997242e+09,0.0
11,1/20/2015,PTT,332.00,335.00,330.00,335.00,0.60,3315709,1104157000,9469658000,...,326.20,328.500000,NaN,NaN,NaN,5820851.4,NaN,NaN,1.893932e+09,0.0
12,1/21/2015,PTT,334.00,334.00,326.00,330.00,-1.49,5479294,1805295000,9103972000,...,327.80,329.750000,NaN,NaN,NaN,5583433.0,NaN,NaN,1.820794e+09,0.0
13,1/22/2015,PTT,335.00,342.00,333.00,341.00,3.33,6077971,2053631000,8147821000,...,332.20,331.250000,NaN,NaN,NaN,4929814.8,50.000000,50.000000,1.629564e+09,0.0
14,1/23/2015,PTT,342.00,348.00,341.00,348.00,2.05,7572257,2615842000,9303290000,...,337.40,332.416667,NaN,NaN,NaN,5534689.4,57.142857,53.571429,1.860658e+09,0.0
15,1/26/2015,PTT,347.00,351.00,345.00,345.00,-0.86,4697644,1635011000,9213936000,...,339.80,332.833333,NaN,NaN,NaN,5428575.0,50.000000,52.380952,1.842787e+09,0.0
16,1/27/2015,PTT,346.00,350.00,345.00,350.00,1.45,3251917,1134117000,9243896000,...,342.80,333.833333,NaN,NaN,NaN,5415816.6,50.000000,51.785714,1.848779e+09,0.0
17,1/28/2015,PTT,355.00,355.00,346.00,349.00,-0.29,4257122,1493683000,8932284000,...,346.60,335.166667,NaN,NaN,NaN,5171382.2,42.857143,50.000000,1.786457e+09,0.0
18,1/29/2015,PTT,349.00,355.00,349.00,350.00,0.29,3987046,1399772000,8278425000,...,348.40,337.000000,NaN,NaN,NaN,4753197.2,50.000000,50.000000,1.655685e+09,0.0
19,1/30/2015,PTT,354.00,354.00,346.00,346.00,-1.14,3874201,1352676000,7015259000,...,348.00,339.000000,NaN,NaN,NaN,4013586.0,50.000000,48.571429,1.403052e+09,0.0
20,2/2/2015,PTT,350.00,356.00,350.00,355.00,2.60,3677030,1298968000,6679216000,...,350.00,342.000000,NaN,NaN,NaN,3809463.2,57.142857,50.000000,1.335843e+09,0.0
21,2/3/2015,PTT,360.00,370.00,359.00,370.00,4.23,6834921,2498190000,8043289000,...,354.00,346.000000,NaN,NaN,NaN,4526064.0,64.285714,52.857143,1.608658e+09,0.0
22,2/4/2015,PTT,378.00,382.00,376.00,378.00,2.16,9584291,3633736000,10183342000,...,359.80,349.750000,NaN,NaN,NaN,5591497.8,71.428571,58.571429,2.036668e+09,0.0
23,2/5/2015,PTT,368.00,374.00,363.00,374.00,-1.06,9719800,3579088000,12362658000,...,364.60,353.000000,NaN,NaN,NaN,6738048.6,64.285714,61.428571,2.472532e+09,0.0
24,2/6/2015,PTT,380.00,380.00,374.00,377.00,0.80,5151591,1940782000,12950764000,...,370.80,356.916667,NaN,NaN,NaN,6993526.6,64.285714,64.285714,2.590153e+09,0.0
25,2/9/2015,PTT,372.00,375.00,365.00,366.00,-2.92,4665536,1725270000,13377066000,...,373.00,359.000000,343.115385,15.266382,15.266382,7191227.8,57.142857,64.285714,2.675413e+09,0.0
26,2/10/2015,PTT,365.00,368.00,360.00,361.00,-1.37,3966634,1443384000,12322260000,...,371.20,360.083333,344.884615,14.146011,14.706197,6617570.4,57.142857,62.857143,2.464452e+09,0.0
27,2/11/2015,PTT,360.00,362.00,353.00,357.00,-1.11,8327497,2975712000,11664236000,...,367.00,361.083333,346.192308,13.462251,14.291548,6366211.6,50.000000,58.571429,2.332847e+09,1.0
28,2/12/2015,PTT,355.00,359.00,352.00,359.00,0.56,6154954,2187317000,10272465000,...,364.00,361.833333,347.153846,13.366097,14.060185,5653242.4,50.000000,55.714286,2.054493e+09,1.0
29,2/13/2015,PTT,360.00,369.00,359.00,369.00,2.79,4929881,1794806000,10126489000,...,362.40,363.500000,348.269231,14.541311,14.156410,5608900.4,57.142857,54.285714,2.025298e+09,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1069,7/1/2019,PTT,49.50,49.50,49.00,49.50,1.54,52070444,2568816860,11023650010,...,48.95,48.166667,47.307692,0.901709,0.751852,45062414.2,50.000000,54.285714,2.204730e+09,2.0
1070,7/2/2019,PTT,49.25,49.50,48.50,48.50,-2.02,51558562,2517157070,11515902050,...,48.85,48.291667,47.394231,0.847578,0.792521,47106618.4,42.857143,51.428571,2.303180e+09,2.0
1071,7/3/2019,PTT,48.50,48.50,48.00,48.25,-0.52,44526573,2149406320,10551444670,...,48.75,48.437500,47.461538,0.888711,0.831410,43228872.4,42.857143,48.571429,2.110289e+09,2.0
1072,7/4/2019,PTT,48.50,48.75,48.00,48.25,0.00,49512554,2393401170,10914630580,...,48.65,48.583333,47.557692,0.923077,0.866702,44806375.2,42.857143,45.714286,2.182926e+09,2.0
1073,7/5/2019,PTT,48.25,48.50,48.00,48.25,0.00,27108587,1306279330,10935060750,...,48.55,48.645833,47.653846,0.886930,0.889601,44955344.0,42.857143,44.285714,2.187012e+09,0.0
1074,7/8/2019,PTT,48.00,48.25,48.00,48.25,0.00,12377514,596045680,8962289570,...,48.30,48.666667,47.730769,0.833333,0.875926,37016758.0,42.857143,42.857143,1.792458e+09,0.0
1075,7/9/2019,PTT,48.00,48.25,47.75,47.75,-1.04,39814980,1909911650,8355044150,...,48.15,48.583333,47.750000,0.705128,0.847436,34668041.6,35.714286,41.428571,1.671009e+09,0.0
1076,7/10/2019,PTT,48.00,48.50,47.75,48.25,1.05,56291310,2712834670,8918472500,...,48.15,48.520833,47.817308,0.629808,0.795655,37020989.0,35.714286,40.000000,1.783694e+09,0.0
1077,7/11/2019,PTT,48.50,48.75,48.25,48.25,0.00,49017987,2377907670,8902979000,...,48.15,48.458333,47.894231,0.505698,0.712179,36922075.6,28.571429,37.142857,1.780596e+09,0.0
1078,7/12/2019,PTT,48.50,48.50,47.75,47.75,-1.04,52103515,2501661440,10098361110,...,48.05,48.375000,47.951923,0.341880,0.603170,41921061.2,21.428571,32.857143,2.019672e+09,0.0
1079,7/15/2019,PTT,47.75,48.50,47.50,47.75,0.00,52702107,2527341500,12029656930,...,47.95,48.291667,48.000000,0.226852,0.481873,49985979.8,21.428571,28.571429,2.405931e+09,0.0
1080,7/17/2019,PTT,47.75,48.25,47.50,48.00,0.52,42674635,2041537240,12161282520,...,48.00,48.229167,48.038462,0.158298,0.372507,50557910.8,28.571429,27.142857,2.432257e+09,0.0
1081,7/18/2019,PTT,47.75,48.00,47.50,47.75,-0.52,44455535,2122582440,11571030290,...,47.90,48.083333,48.057692,-0.002849,0.245976,48190755.8,21.428571,24.285714,2.314206e+09,0.0
1082,7/19/2019,PTT,48.00,48.00,47.50,47.75,0.00,32630396,1557795520,10750918140,...,47.80,48.020833,48.067308,-0.064637,0.131909,44913237.6,21.428571,22.857143,2.150184e+09,0.0
1083,7/22/2019,PTT,47.50,48.00,47.50,47.75,0.00,34826216,1658900010,9908156710,...,47.80,47.979167,48.096154,-0.126603,0.038212,41457777.8,14.285714,21.428571,1.981631e+09,0.0
1084,7/23/2019,PTT,48.00,48.00,47.50,47.75,0.00,21081893,1007512190,8388327400,...,47.80,47.937500,48.125000,-0.188568,-0.044872,35133735.0,14.285714,20.000000,1.677665e+09,0.0
1085,7/24/2019,PTT,47.75,48.00,47.25,47.75,0.00,35688017,1700297070,8047087230,...,47.75,47.895833,48.173077,-0.268340,-0.130199,33736411.4,14.285714,17.142857,1.609417e+09,0.0
1086,7/25/2019,PTT,47.75,48.00,47.50,47.75,0.00,20088967,958549190,6883053980,...,47.75,47.854167,48.221154,-0.348113,-0.199252,28863097.8,14.285714,15.714286,1.376611e+09,0.0
1087,7/26/2019,PTT,47.50,47.75,47.00,47.25,-1.05,42571980,2015297410,7340555870,...,47.65,47.812500,48.211538,-0.414352,-0.269195,30851414.6,14.285714,14.285714,1.468111e+09,0.0
1088,7/30/2019,PTT,47.25,47.50,47.00,47.25,0.00,23792095,1123992030,6805647890,...,47.55,47.729167,48.182692,-0.458155,-0.335506,28644590.4,14.285714,14.285714,1.361130e+09,0.0
1089,7/31/2019,PTT,47.00,47.50,47.00,47.25,0.00,36834756,1740427400,7538563100,...,47.45,47.645833,48.125000,-0.475249,-0.392842,31795163.0,14.285714,14.285714,1.507713e+09,0.0
1090,8/1/2019,PTT,47.00,47.25,46.75,47.25,0.00,26706117,1256942560,7095208590,...,47.35,47.604167,48.057692,-0.448184,-0.428811,29998783.0,7.142857,12.857143,1.419042e+09,0.0
1091,8/2/2019,PTT,46.75,46.75,45.75,46.00,-2.65,109704180,5070340450,11206999850,...,47.00,47.458333,47.942308,-0.564459,-0.472080,47921825.6,7.142857,11.428571,2.241400e+09,0.0
1092,8/5/2019,PTT,46.00,46.50,45.75,45.75,-0.54,55743513,2563608220,11755310660,...,46.70,47.270833,47.826923,-0.636218,-0.516453,50556132.2,7.142857,10.000000,2.351062e+09,0.0
1093,8/6/2019,PTT,45.25,45.75,45.25,45.50,-0.55,64826922,2949344100,13580662730,...,46.35,47.083333,47.701923,-0.699074,-0.564637,58763097.6,7.142857,8.571429,2.716133e+09,0.0
1094,8/7/2019,PTT,45.50,45.75,45.00,45.00,-1.10,64004612,2895359900,14735595230,...,45.90,46.854167,47.557692,-0.799323,-0.629452,64197068.8,0.000000,5.714286,2.947119e+09,0.0
1095,8/8/2019,PTT,45.00,45.25,44.00,44.25,-1.67,89159527,3961249810,17439902480,...,45.30,46.562500,47.355769,-0.918981,-0.723611,76687750.8,0.000000,4.285714,3.487980e+09,0.0
1096,8/9/2019,PTT,44.25,44.75,44.00,44.25,0.00,41819380,1855925260,14225487290,...,44.95,46.270833,47.192308,-1.014423,-0.813604,63110790.8,0.000000,2.857143,2.845097e+09,0.0
1097,8/13/2019,PTT,44.00,44.25,42.50,43.00,-2.82,101448610,4393666130,16055545200,...,44.40,45.875000,46.990385,-1.262108,-0.938782,72251810.2,0.000000,1.428571,3.211109e+09,0.0
1098,8/14/2019,PTT,43.50,44.00,43.00,43.25,0.58,88987125,3885774760,16991975860,...,43.95,45.500000,46.798077,-1.381410,-1.075249,77083850.8,7.142857,1.428571,3.398395e+09,0.0