In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv('PTT.csv')
# df.head()

In [3]:
# rule
def label_options(df):
#     MyMoney = 3
    tmpMoney = None
    tmpPrice = None
    tmpMACD = None
    tmpRSIBuy = None
    tmpRSISell = None
    for i in range(0,len(df)):
        if df.loc[i,'Money'] > df.loc[i,'Money5'] :
            df.loc[i,'StatusMoney'] = 1
            tmpMoney = 1
            
            if df.loc[i,'Last'] > df.loc[i,'SMA5'] :
                df.loc[i,'StatusPrice'] = 1
                tmpPrice = 1
            elif df.loc[i,'Last'] < df.loc[i,'SMA5'] :
                df.loc[i,'StatusPrice'] = -1
                tmpPrice = -1
            else:
                df.loc[i,'StatusPrice'] = None
                df.loc[i,'StatusMoney'] = 0
                tmpPrice = None
                tmpMoney = 0
            
            if df.loc[i,'MACD'] > 0:
                if df.loc[i,'MACD'] > df.loc[i,'MACD10']:
                    df.loc[i,'StatusMACD'] = 1
                    tmpMACD = 1
                elif df.loc[i,'MACD'] < df.loc[i,'MACD10']:
                    df.loc[i,'StatusMACD'] = -1
                    tmpMACD = -1
                else :
                    df.loc[i,'StatusMACD'] = None
                    df.loc[i,'StatusMoney'] = 0
                    tmpMACD = None
                    tmpMoney = 0
            else :
                df.loc[i,'StatusMACD'] = -1
                tmpMACD = -1
                
            if df.loc[i,'RSI'] < 70 :
                df.loc[i,'StatusRSIBuy'] = 1
                tmpRSIBuy = 1
            else :
                df.loc[i,'StatusRSIBuy'] = 0
                tmpRSIBuy = 0
                
            if df.loc[i,'RSI'] > 30 :
                df.loc[i,'StatusRSISell'] = -1
                tmpRSISell = -1
            else :
                df.loc[i,'StatusRSISell'] = 0
                tmpRSISell = 0
        else :
            df.loc[i,'StatusMoney'] = 0
            tmpMoney = 0
        if tmpMoney == 1 :
            if tmpPrice + tmpMACD + tmpRSIBuy == 3:
                df.loc[i,'Status'] = 1
            elif tmpPrice + tmpMACD + tmpRSISell == -3:
                df.loc[i,'Status'] = -1
            else :
                df.loc[i,'Status'] = 0
        else :
            df.loc[i,'Status'] = 0
# label_options(df)

In [ ]:
sc = pd.read_csv('Selected-Company.csv')
for i in range(len(sc)):
#     print(sc.loc[i,'Symbol'])
    try:
        df = pd.read_csv('../ML-for-stock-port-management/Individual-Stock/' + sc.loc[i,'Symbol'] + '.csv')
        label_options(df)
        path = r'../ML-for-stock-port-management/Individual-Stock/' + sc.loc[i,'Symbol'] + '.csv'
        df.to_csv(path, index = None, header=True)
    except:
        print(sc.loc[i,'Symbol'])

BTW

In [5]:
df = pd.read_csv('Selected-Company.csv')
df

        Symbol
0           2S
1        2S-W1
2          7UP
3       7UP-W2
4            A
5          AAV
6          ABC
7       ABC-W1
8       ABC-W2
9        ABICO
10         ABM
11       ABPIF
12        ACAP
13     ACAP-W1
14     ACAP-W2
15         ACC
16      ACC-W1
17         ACD
18      ACD-W2
19      ACD-W4
20         ACG
21         ADB
22      ADVANC
23         AEC
24      AEC-W2
25      AEC-W4
26      AEONTS
27          AF
28         AFC
29         AGE
...        ...
1163    VTE-W1
1164    VTE-W2
1165    WACOAL
1166      WAVE
1167   WAVE-W1
1168        WG
1169       WHA
1170     WHABT
1171     WHAPF
1172     WHART
1173     WHAUP
1174    WHA-W1
1175    WHA-W2
1176      WICE
1177      WIIK
1178   WIIK-W1
1179   WIIK-W2
1180       WIN
1181    WINNER
1182      WORK
1183   WORK-W1
1184        WP
1185       WPH
1186        XO
1187     XO-W1
1188     YUASA
1189       ZEN
1190      ZIGA
1191     ZMICO
1192  ZMICO-W4

[1193 rows x 1 columns]

In [6]:
df.head()

   Symbol
0      2S
1   2S-W1
2     7UP
3  7UP-W2
4       A

In [ ]:
# update data to csv
df.to_csv(r'../ML-for-stock-port-management/PTT.csv', index = None, header=True)

In [ ]:
df = pd.read_csv('PTT.csv')
df