In [1]:
import pandas as pd
df = pd.read_csv('../ML-for-stock-port-management/Individual-Stock/PTT.csv')
df.head()

,Date,Symbol,Open,High,Low,Last,ChangePercent,Volumn,Money,Net5D,...,SMA5,SMA12,SMA26,MACD,MACD5,Vol5,RSI,RSI5,Money5,Status
0,1/5/2015,PTT,330.0,331.0,313.0,315.0,-2.78,6685498,2143630000,5569961000,...,315.0,NaN,NaN,NaN,NaN,6685498.0,NaN,NaN,2.143630e+09,0.0
1,1/6/2015,PTT,310.0,323.0,306.0,323.0,2.54,8194710,2563561000,7283937000,...,319.0,NaN,NaN,NaN,NaN,7440104.0,NaN,NaN,2.353596e+09,0.0
2,1/7/2015,PTT,322.0,335.0,319.0,334.0,3.41,6377138,2091634000,8475487000,...,324.0,NaN,NaN,NaN,NaN,7085782.0,NaN,NaN,2.266275e+09,0.0
3,1/8/2015,PTT,346.0,349.0,340.0,340.0,1.80,10392170,3588631000,11299851000,...,328.0,NaN,NaN,NaN,NaN,7912379.0,NaN,NaN,2.596864e+09,0.0
4,1/9/2015,PTT,342.0,342.0,335.0,338.0,-0.59,6394847,2166117000,12553573000,...,330.0,NaN,NaN,NaN,NaN,7608872.6,NaN,NaN,2.510715e+09,0.0

In [2]:
X = df.loc[25:,['Money', 'Money5', 'RSI', 'MACD', 'MACD5']]
X.head()

         Money        Money5        RSI       MACD      MACD5
25  1725270000  2.675413e+09  57.142857  15.266382  15.266382
26  1443384000  2.464452e+09  57.142857  14.146011  14.706197
27  2975712000  2.332847e+09  50.000000  13.462251  14.291548
28  2187317000  2.054493e+09  50.000000  13.366097  14.060185
29  1794806000  2.025298e+09  57.142857  14.541311  14.156410

In [3]:
y = df.loc[25:,['Status']]
y.head()

    Status
25     0.0
26     0.0
27     1.0
28     1.0
29     0.0

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,
                                                    random_state=42)
print(X_train.shape)
print(X_test.shape)

(751, 5)
(323, 5)

## SIMPLE LR

In [11]:
#train model
from sklearn.linear_model import LogisticRegression
import math
lr = LogisticRegression(C=math.pow(10,-4))
lr.fit(X_train,y_train)

C:\Users\59010602\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\59010602\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\59010602\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=0.0001, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='warn', n_jobs=None, penalty='l2', random_state=None,
          solver='warn', tol=0.0001, verbose=0, warm_start=False)

In [12]:
#test model
y_pred = lr.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7585139318885449

In [14]:
y_pred.shape

(323,)

## TRIAL LR

In [9]:
import math
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(C=math.pow(10,-4))

from sklearn.model_selection import cross_val_predict
Y_pred_cross = cross_val_predict(lr, X_train, y_train, cv = 10, n_jobs=-1)

print(Y_pred_cross.shape)

from sklearn.metrics import accuracy_score
# acc_ptt = accuracy_score(y_test, Y_pred_cross)

from sklearn.metrics import confusion_matrix
cm_ptt = confusion_matrix(y_train, Y_pred_cross)

# print (acc_ptt)
print (cm_ptt)

# logreg_c1 = linear_model.LogisticRegression(C=math.pow(10,-4))
# Y_pred_cross = cross_val_predict(logreg_c1, X_train, y_train, cv = 10, n_jobs=-1)
# test_acc_c1 = accuracy_score(y_train, Y_pred_cross)
# cm_c1 = confusion_matrix(y_train, Y_pred_cross)
# print (test_acc_c1)
# print (cm_c1)

(751,)
[[567   0  22]
 [ 38   0   2]
 [101   0  21]]